.search {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/mtgBg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.searchForm {
  display: flex;
  flex-direction: column;
}
.cardsList {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
}
.cardsList img {
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  max-width: 300px;
  height: auto;
  width: 80%;
}
.cardHover {
  transition: transform 0.25s ease-in-out;
}
.cardHover:hover {
  transform: scale(1.1);
  cursor: pointer;
}
