* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #202124;
}
li {
  list-style: none;
}
.search {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 56px;
  background-size: cover;
  background-position: center;
  background-image: url(./assets/bg.webp);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.searchForm {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.cardsList {
  padding: 2rem;
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
}
.cardsList img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}
.cardImg {
  margin: 1rem;

  max-width: 300px;
  height: auto;
}
.cardImg img {
  border-radius: 15px;
  min-width: 100%;
  width: 100%;
}
.cardHover {
  transition: transform 0.25s ease-in-out;
}
.cardHover:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.deck {
  width: 100%;
  padding-top: 70px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.removebtn {
  opacity: 1 !important;
  left: 35%;
  top: 50%;
}
.searchHeader {
  position: relative;
  height: 200px;
  background-image: url(./assets/header.webp);
  background-size: contain;
  color: white;
}
.imgDiv {
  position: relative;
  width: 80%;
  max-width: 300px;

  margin: 1rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0;
  }
  50% {
    opacity: 1;
    scale: 0.8;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
.checkImg {
  animation: fadeIn 1s forwards;
  position: absolute;
  top: 0;
  left: 0;
}
.stats {
  /* width: 25%;
  height: 100%;
  position: fixed; */

  background-color: red;
}
.z-index-3 {
  z-index: 3;
  width: 100vw;
}
