* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #202124;
}
.search {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/mtgBg.webp);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.searchForm {
  display: flex;
  flex-direction: column;
}
.cardsList {
  padding: 2rem;
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
}
.cardsList img {
  border-radius: 25px;
  /* padding: 0.5rem; */
  margin: 1rem;
  max-width: 300px;
  height: auto;
  width: 80%;
}
.cardImg {
  margin: 1rem;
  max-width: 300px;
  height: auto;
}
.cardImg img {
  width: 100%;
  width: 100%;
}
.cardHover {
  transition: transform 0.25s ease-in-out;
}
.cardHover:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.removebtn {
  opacity: 1 !important;
  left: 35%;
  top: 50%;
}
.searchHeader {
  position: relative;
  height: 200px;
  background-image: url(./assets/header.webp);
  background-size: contain;
  color: white;
}
